body {
    margin: 0 auto;
    background-color: #f2f5f5;
    font-family: Montserrat;
}

#particles-js canvas{
    display: block;
    position: fixed;
    z-index: -1;
    width:100%;
    height: 100%;
}

.nav {
  background-color: #222f5b;
  position: relative;
  padding: 15pt;
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 18pt;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 15pt;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: #ffffff;
}

.nav > .nav-links > a:hover {
  background-color: white;
  color: black;
}

.nav > #nav-check {
  display: none;
}

@media only screen and (max-width:750px) {
    .nav > .nav-btn {
        display: inline-block;
        position: absolute;
        right: 0px;
        top: 0px;
        text-align: center;
    }
    .nav > .nav-btn > label {
        display: inline-block;
        width: 50px;
        height: 50px;
        padding: 13px;
        margin-top: 22%;
    }
    .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
        cursor: pointer;
    }
    .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
    }
    .nav > .nav-links {
        text-align: center;
        margin-top: 5%;
        position: absolute;
        display: block;
        width: 100%;
        background-color: #222f5b;
        height: 0px;
        transition: all 0.3s ease-in;
        overflow-y: hidden;
        top: 50px;
        left: 0px;
    }
    .nav > .nav-links > a {
        display: block;
        width: 100%;
    }
    .nav > #nav-check:not(:checked) ~ .nav-links {
        height: 0px;
    }
    .nav > #nav-check:checked ~ .nav-links {
        height: calc(100vh - 50px);
        overflow-y: auto;
    }
    .about{
        font-size: 5pt;
    }
}

.card {
  width: 300px;
  text-align: center;
  margin: auto;
}


.card a {
  text-decoration: none;
  font-size: 22px;
  color: black;
}

.card p {
    font-size: 15pt;
}

.content {
    display: block;
    overflow: auto;
    margin: 0 auto;
    width: 72%;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20pt;
}

.content-left {
    width: 65%;
    float: left;
}

.content-right {
    width: 35%;
    float: right;
}

#top-bs {
    height: 100px;
}

#bottom-bs {
    height: 100px;
}


.about {
    font-size: 14pt;
    margin-left: 5%;
}

.contact-icons a {
    margin-left: 5%;
}

.resume-download {
    background-color: #222f5b;
    border: none;
    color: white;
    padding: 12px 30px;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 5%;
}

footer {
    background-color: #222f5b;
    color: #ffffff;
    font-size: 15pt;
    padding: 50pt;
    text-align: center;
}
